@use 'variable' as *;
@use 'modules' as *;
@use 'mixin' as *;

main {
  margin-top: 100px; // 固定ヘッダーの高さと同じ
}


.section__inner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 180px;

  //@media (max-width: $breakpoint-md) {
  //  padding-inline: 80px;
  //}

  @include mq('tab') {
    padding-inline: 80px;
  }

  //@media (max-width: $breakpoint-sm) {
  //  padding-inline: 24px;
  //}

  @include mq('sp') {
    padding-inline: 24px;
  }
}