//color variables
$baseColor-1: #FAF5E9;
$baseColor-2: #CBAD74;
$accentColor-1: #F9D16C;
$accentColor-2: #5F8AAE;
$accentColor-3: #739988;
$textColor-1: #FFFFFF;
$textColor-2: #684533;

//font variables
$playfair: "Playfair Display";
$serif: "Noto Serif JP";
$sans: "Noto Sans JP";
